<!DOCTYPE html>
<html lang="en">

<%- partial('common/head.ejs') -%>

<body>
    <%- partial('common/header.ejs') -%>
    <%- path==='index.html'?partial('common/banner.ejs'):''-%>
    <div class="container-xl">
        <%- body -%>
    </div>
    <!-- <%- partial('common/footer.ejs') -%> -->
    <%- partial('common/script.ejs') -%>
</body>

</html>