<!DOCTYPE html>
<html lang="en">

<%- partial('common/head.ejs') -%>

<body>
    <%- partial('common/header.ejs') -%>
    <div class="layout-content-container">
        <%- body -%>
    </div>
    <%- partial('common/footer.ejs') -%>
    <%- partial('common/script.ejs') -%>
</body>

</html>